@import "tailwindcss";

@theme {
  --color-background: #0B1120;
  --color-surface: #1E293B;
  
  --color-emerald-500: #10B981;
  --color-blue-500: #3B82F6;
  --color-slate-500: #64748B;
  --color-purple-500: #8B5CF6;
  --color-amber-500: #F59E0B;
  --color-rose-500: #F43F5E;
}

body {
  background-color: var(--color-background);
  color: #F8FAFC;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
